@keyframes lds-ripple {
    0% {
      top: 56px;
      left: 56px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 116px;
      height: 116px;
      opacity: 0;
    }
}

@keyframes bump {
  0% {
    transform: scale(1);
    
  }
  30% {
    transform: scale(1.1);
    
  }
  100% {
    
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  
  100% {
    display: flex;
    opacity: 1;
  }
}
@keyframes minify {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(.7);
  }
}
