.landing,
.info,
.list {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    animation: fadeIn .5s;
}

.landing {
    //display: none;
    justify-content: center;
}
.info {
    display: none;
    justify-content: center;
    &__text {
        margin-bottom: 3rem;
        margin-top: 4rem;
        max-width: 400px;
        flex: 0 0 30%;
    }

    &__credits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 4rem;
        & a {
            text-decoration: none;
            letter-spacing: 1px;
            color: #dadada;
            font-size: 1.8rem;
        }
    }
}

.list {
    display: none;
    margin-top: -8rem;
}